@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

*{
  box-sizing: border-box;
  font-family: "Nunito sans", sans-serif;
}

@utility text-primary{
  font-size: var(--text-xl);
}

@utility text-secundary{
  color: #767dac;
}

@theme default{

  --breakpoint-sm-mob: 26.5625rem;

}

